# CMake files
CMakeCache.txt
CMakeFiles
CMakeScripts
CPack*
cmake_install.cmake
*.xcodeproj
*.build/
Debug/
Release/
TutorialConfig.hpp
CTestTestfile.cmake
Testing/
MathFunctions/Table.hpp
Tutorial-*
install_manifest.txt

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
